include ../partials/header.pug
include ../partials/hero-unit.pug
include ../partials/nav.pug
include ../partials/about.pug
include ../partials/events.pug
include ../partials/details.pug
include ../partials/footer.pug
script(src=`${env.virtualRoot}_js/main.compiled.js`)
