extends ../extends/index.pug

block content
  .nsf-page
    #about.nav-anchor
    include ../partials/hero-unit.pug
    include ../partials/nav.pug
    include ../partials/about.pug
    include ../partials/winners.pug
    include ../partials/judges.pug
    include ../partials/challenges.pug
    include ../partials/submissions.pug
    include ../partials/faq.pug
    include ../partials/more-info.pug
