include ../partials/header.pug

.container
  h1 Wireless Innovation for a Networked Society Initiative
  h2 Rules and Regulations
  include:markdown ../../markdown/rules-and-regulations.md
  

include ../partials/footer.pug
