extends ../extends/index.pug

block content
  .rules-regulations-page
    .rules-and-regulations.container
      h1.text-center
        a(href=`${env.virtualRoot}`)
          span Wireless Innovation
          br
          span for a Networked Society Initiative
      h2.text-center Rules and Regulations
      .markdown
        include:markdown ../../markdown/rules-and-regulations.md
