include ../partials/header.pug

.rules-and-regulations.container
  .header
    h3 Wireless Innovation
    br
    h3 for a Networked Society Initiative
    h4 Rules and Regulations
  include:markdown ../../markdown/rules-and-regulations.md

include ../partials/footer.pug
