include ../partials/header.pug

.rules-regulations-page
  .rules-and-regulations.container
    h1.text-center
      a(href=`${env.virtualRoot}`)
        span Wireless Innovation
        br
        span for a Networked Society Initiative
    h2.text-center Rules and Regulations
    include:markdown ../../markdown/rules-and-regulations.md

include ../partials/footer.pug
