@import '../../node_modules/mofo-bootstrap/dest/css/mofo-bootstrap';
@import '../../node_modules/mofo-bootstrap/src/scss/custom/_colors';
@import '../../node_modules/bootstrap/scss/_variables.scss';

// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 544px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 544px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

// mixins

@import 'variables.scss';

// Resets & Primitives

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

// Utility Classes

// Custom Components

h1 {
  font-weight: 700;
  font-size: 44px;
  margin: 16px auto 10px;
  width: 100%;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

header.page-header {
  background-image: url(../_images/hero.jpg);
  background-position: 40% center;
  background-color: #00a2af;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
  align-items: center;
  font-weight: bold;

  h1,
  .header-content {
    color: #fff;
  }

  h1 {
    max-width: 610px;
  }

  .header-content {
    p {
      font-size: 19px;
      font-weight: 600;
      width: 100%;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .powered-by {
    font-style: italic;
    padding-right: 12px;
  }
}

.rules-and-regulations {
  h1 {
    margin-bottom: 30px;

    span {
      background: $nsf-yellow;
      line-height: 1.45;
      box-decoration-break: clone;
      padding: 10px 5px 4px;
    }
  }

  h3,
  h4 {
    color: #000;
  }
}

#sticky-nav {
  height: 50px;

  .sticky-container {
    background: $off-white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    .container {
      text-align: center;

      a {
        border: none;
        color: $gray;
        padding: 0 23px;
        font-weight: 500;

        &:hover {
          background: none;
          margin: 0;
        }

        &.active,
        &:hover {
          color: $gray-darkest;
        }
      }
    }

    &.sticky {
      position: fixed;
      z-index: 1;
      top: 0;
    }
  }
}

.nav-anchor {
  height: 50px;
  margin-top: -50px;
}

.expander {
  border-width: 0;
  font-weight: 300;
  color: $gray-darker;
}

.expander > .expander-item {
  border-top: 1px solid $gray-lightest;
}

.expander > .expander-item > .expander-header {
  line-height: 32px;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  font-size: 20px;
}

.expander > .expander-item > .expander-header::after {
  content: '+';
  color: $nsf-purple;
  font-size: 68px;
  font-weight: 200;
  right: 0;
  width: 48px;
  text-align: center;
}

.expander > .expander-item-active > .expander-header::after {
  content: '_';
  margin-top: -45px;
  font-size: 52px;
}

.expander-content {
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}

.expander-item:last-child {
  border-bottom: 1px solid $gray-lightest;
}

.expander .expander-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.challenges {
  .challenges-switcher {
    margin-bottom: 62px;
    border-bottom: solid 1px $nsf-purple;

    .challenges-button {
      @media screen and (max-width: $bp-sm) {
        padding-right: 4px;
        padding-left: 4px;
      }

      &:not(:last-child) {
        margin-right: 8px;
      }

      width: calc(50% - 4px);

      @media screen and (min-width: $bp-sm) {
        &:not(:last-child) {
          margin-right: 28px;
        }

        width: calc(50% - 14px);
      }

      font-size: 22px;
      font-weight: 200;
      cursor: pointer;
      margin-bottom: -1px;
      min-height: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: $nsf-purple;
      border-color: $nsf-purple;
      border-width: 1px 1px 0;
      border-style: solid;

      &.active {
        background: #fff;
      }
    }
  }

  .challenges-content {
    &.hidden {
      display: none;
    }
  }
}

.mofo-footer .org-info .logo-container {
  min-width: 6rem;
}

a.btn,
.btn,
button {
  &:focus {
    outline: none;
  }

  cursor: pointer;
  font-family: inherit;
}

.rules-regulations-page {
  h1 {
    a {
      border-bottom: none;

      &:hover {
        border: none;
        margin: 0;

        span {
          background: darken($nsf-yellow, 10%);
        }
      }
    }
  }
}

.rules-regulations-page,
.nsf-page {
  .container {
    margin-top: 85px;
    margin-bottom: 85px;
  }

  a.btn,
  .btn {
    height: 42px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    background: $nsf-yellow;
    font-weight: bold;
    border: none;
    color: $gray-darkest;

    &:focus {
      outline: none;
    }

    &:hover {
      border: none;
      background: darken($nsf-yellow, 10%);
      color: $gray-darkest;
    }
  }

  .challenge-list-item {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    img {
      margin-right: 30px;
      height: 40px;
      width: 40px;
    }

    p {
      margin-bottom: 0;
    }
  }

  .section-header {
    background: #000;

    .container {
      margin-top: 0;
      margin-bottom: 0;
    }

    h4 {
      color: #fff;
      padding: 23px 0;
    }
  }

  .more-info {
    background: $nsf-purple;
    text-align: center;

    .container {
      margin-top: 0;
      margin-bottom: 0;
    }

    .info-box {
      margin-top: 1.5rem;

      &:not(:first-child) {
        margin-bottom: 1.5rem;
      }

      header {
        color: $black;
        font-size: 24px;
        font-weight: 500;

        @media screen and (min-width: $bp-md) {
          max-width: 340px;
          margin: 0 auto;
        }
      }

      .btn {
        margin-top: 15px;
      }
    }
  }

  a {
    border-bottom: 2px solid $nsf-yellow;
    text-decoration: none;
    color: inherit;

    &:hover {
      border: 2px solid darken($nsf-yellow, 10%);
      background: darken($nsf-yellow, 10%);
      text-decoration: none;
      margin: 0 -2px;
      color: #000;
    }
  }
}

.footer-link-cookies::before {
  background-image: url(../_images/icon-cookies.svg);
}

.events {
  margin-top: 55px;
  text-align: center;

  .event-container {
    text-align: center;
    max-width: 235px;
    display: inline-block;

    a {
      &:hover {
        margin: 0;
        border: none;
      }

      &:hover span {
        border: 2px solid darken($nsf-yellow, 10%);
        background: darken($nsf-yellow, 10%);
      }

      div {
        margin: 10px 0;

        span {
          border-bottom: 2px solid $nsf-yellow;
          font-weight: 500;
          color: #000;
          font-size: 20px;
        }
      }
    }

    img {
      height: 235px;
      width: 235px;
    }
  }
}
