@import '../../node_modules/mofo-bootstrap/dest/css/mofo-bootstrap';
@import '../../node_modules/mofo-bootstrap/src/scss/custom/_colors';
@import '../../node_modules/bootstrap/scss/_variables.scss';

// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 544px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 544px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

// mixins

@import 'variables.scss';

// Resets & Primitives

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #000;
  font-size: 16px;

  @media screen and (min-width: $bp-sm) {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
}

// Utility Classes

// Custom Components

h1 {
  font-weight: 700;
  font-size: 2rem;

  @media screen and (min-width: $bp-sm) {
    font-size: 2.75rem;
  }

  margin: 16px auto 10px;
  width: 100%;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

header.page-header {
  background-image: url(../_images/hero.jpg);
  background-position: 40% center;
  background-color: #00a2af;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  font-weight: bold;

  h1,
  .header-content {
    color: #fff;
  }

  .header-content {
    p {
      font-size: 1rem;
      font-weight: 600;
      width: 100%;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;

      @media screen and (min-width: $bp-sm) {
        font-size: 1.2rem;
      }
    }
  }

  h1 {
    max-width: 840px;
  }

  .powered-by {
    font-style: italic;
    padding-right: 12px;
  }
}

.rules-and-regulations {
  h1 {
    margin-bottom: 30px;

    span {
      background: $nsf-yellow;
      line-height: 1.45;
      box-decoration-break: clone;
      padding: 10px 5px 4px;
    }
  }

  h3,
  h4 {
    color: #000;
  }
}

.stage {
  height: 100%;
  padding: 15px 0;

  .stage-header,
  .stage-body {
    padding-left: 25px;
    padding-right: 25px;
  }

  .stage-header {
    background: #b0b2e6;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    height: 52px;
    display: flex;
    align-items: center;
  }

  .stage-body {
    padding-top: 15px;
    border: 1px solid #b0b2e6;
  }

  @media screen and (min-width: $bp-lg) {
    display: flex;
    flex-flow: column;

    .stage-body {
      -webkit-flex: 1 1 548px;
    }

    .stage-header {
      -webkit-flex: 1 1 52px;
    }
  }
}

#sticky-nav {
  height: 50px;

  .sticky-container {
    background: $off-white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    .container {
      text-align: center;

      a {
        display: inline-block;
        color: $gray;
        padding: 0 5px;
        font-weight: 500;

        @media screen and (min-width: $bp-sm) {
          padding: 0 23px;
        }

        &::first-letter {
          text-transform: capitalize;
        }

        &.active,
        &:hover {
          color: $gray-darkest;
        }
      }
    }

    &.sticky {
      position: fixed;
      z-index: 1;
      top: 0;
    }
  }
}

.nav-offset {
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}

.expander {
  border-width: 0;
}

.expander > .expander-item {
  border-top: 1px solid $gray-lightest;
}

.expander > .expander-item > .expander-header {
  line-height: 28px;
  padding: 16px 0;
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
}

.expander > .expander-item > .expander-header::after {
  content: '+';
  color: $nsf-purple;
  right: 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  width: 28px;
  height: 28px;
  padding-top: 2px;
}

.expander > .expander-item-active > .expander-header::after {
  content: '-';
}

.expander > .expander-item-active > .expander-content {
  transition: height 0.3s;
}

.expander-content {
  overflow: hidden;
  height: 0;

  .content-height {
    display: inline-block;
  }

  transition: height 0s;
}

.expander-item:last-child {
  border-bottom: 1px solid $gray-lightest;
}

.expander .expander-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.challenges {
  .challenges-switcher {
    margin-bottom: 62px;
    border-bottom: solid 1px $nsf-purple;

    .challenge-button-container {
      display: inline-block;

      @media screen and (max-width: $bp-sm) {
        padding-right: 4px;
        padding-left: 4px;
      }

      &:not(:last-child) {
        margin-right: 8px;
      }

      width: calc(50% - 4px);

      @media screen and (min-width: $bp-sm) {
        &:not(:last-child) {
          margin-right: 28px;
        }

        width: calc(50% - 14px);
      }

      .challenges-button {
        width: 100%;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: -1px;
        min-height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $nsf-purple;
        border-color: $nsf-purple;
        border-width: 1px 1px 0;
        border-style: solid;

        &:hover {
          margin-right: 0;
          margin-left: 0;
        }

        &.active {
          background: #fff;
        }
      }
    }
  }

  .challenges-content {
    &.hidden {
      display: none;
    }
  }
}

.mofo-footer .org-info {
  max-width: 45rem;

  .logo-container {
    min-width: 6rem;
    text-align: center;
  }
}

a,
a,
.btn,
button {
  &:focus {
    outline: none;
  }

  cursor: pointer;
  font-family: inherit;
}

.rules-regulations-page {
  h1 {
    a {
      border-bottom: none;

      &:hover {
        border: none;
        margin: 0;

        span {
          background: darken($nsf-yellow, 10%);
        }
      }
    }
  }
}

.desktop-timeline {
  display: block;
}

.mobile-timeline {
  display: none;
  text-align: center;

  img {
    max-width: 360px;
    width: 100%;
  }
}

@media screen and (max-width: $bp-md) {
  .desktop-timeline {
    display: none;
  }

  .mobile-timeline {
    display: block;
  }
}

.rules-regulations-page,
.nsf-page {
  .container {
    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and (min-width: $bp-sm) {
      margin-top: 65px;
      margin-bottom: 65px;
    }
  }

  a.btn,
  .btn {
    height: 42px;
    cursor: pointer;
    background: $nsf-yellow;
    font-weight: bold;
    color: $gray-darkest;
    position: relative;

    @media screen and (max-width: $bp-sm) {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }

    &:hover {
      background: darken($nsf-yellow, 10%);
      color: $gray-darkest;
    }
  }

  .challenge-list-item {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    img {
      flex-shrink: 0;
      margin-right: 30px;
      width: 40px;
    }

    p {
      margin-bottom: 0;
    }
  }

  .section-header {
    background: #000;

    .container {
      margin-top: 0;
      margin-bottom: 0;
    }

    h4 {
      color: #fff;
      margin: 1.45rem 0;
    }
  }

  .more-info {
    background: $nsf-purple;
    text-align: center;

    .container {
      margin-top: 0;
      margin-bottom: 0;
    }

    .info-box {
      margin-top: 1.5rem;

      .btn {
        margin-top: 15px;
      }

      @media screen and (min-width: $bp-md) {
        .btn {
          margin-top: 0;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &:first-child {
        margin-bottom: 1.5rem;
      }

      header {
        color: $black;
        font-size: 18px;
        font-weight: 500;

        @media screen and (min-width: $bp-md) {
          max-width: 550px;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .markdown,
  .page-header p {
    a {
      border-bottom: 2px solid $nsf-yellow;

      &:hover {
        border: 2px solid darken($nsf-yellow, 10%);
        box-decoration-break: clone;
        background: darken($nsf-yellow, 10%);
        margin: 0 -2px;
        color: #000;
      }
    }
  }
}

footer.mofo-footer {
  a {
    color: #fff;
  }

  background: #000;
}

.footer-link-cookies::before {
  background-image: url(../_images/icon-cookies.svg);
}

.events {
  margin-top: 55px;
  text-align: center;

  .event-container {
    a {
      &:hover {
        margin: 0;
        border: none;
      }

      &:hover span {
        box-decoration-break: clone;
        border: 2px solid darken($nsf-yellow, 10%);
        background: darken($nsf-yellow, 10%);
      }

      &:focus {
        outline: none;
      }

      div {
        margin: 10px 0;

        span {
          border-bottom: 2px solid $nsf-yellow;
          font-weight: 500;
          color: #000;
          font-size: 1rem;

          @media screen and (min-width: $bp-md) {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
