#about.nav-anchor
.container
  include:markdown ../../markdown/about.md

.container
  include:markdown ../../markdown/challenges/challenges.md
  include:markdown ../../markdown/challenges/challenges-impact.md
  include:markdown ../../markdown/challenges/challenges-achievement.md
  include:markdown ../../markdown/challenges/challenges-creativity.md
  include:markdown ../../markdown/challenges/challenges-affordability.md
  include:markdown ../../markdown/challenges/challenges-adaptability.md

.container
  #challenges-switcher
