#about.nav-anchor
.container
  include:markdown ../../markdown/about.md

.container
  include:markdown ../../markdown/challenges/challenge-1.md
  include:markdown ../../markdown/challenges/challenge-1-size.md
  include:markdown ../../markdown/challenges/challenge-1-connectivity.md
  include:markdown ../../markdown/challenges/challenge-1-applications.md

.container
  include:markdown ../../markdown/challenges/challenge-2.md
  include:markdown ../../markdown/challenges/challenge-2-range.md
  include:markdown ../../markdown/challenges/challenge-2-bandwidth.md
  include:markdown ../../markdown/challenges/challenge-2-footprint.md
