#details.nav-anchor
.section-header
  .container
    h4 Challenge details

.container
  #expander-container

.more-info
  .container
    .row
      .info-box.col-md-6
        header Learn more about the challenges in person.
        a.btn(href="#events") Find an event
      .info-box.col-md-6
        header Submissions open in Spring.
        header Get a reminder.
        a.btn Email sign up
