#details.nav-anchor
.section-header
  .container
    h4 Challenge details

.container
  #expander-container

.more-info
  .container
    .info-box
      div Learn more about the
      div Challenges in person
      a.btn Find an event
    .info-box
      div Submissions open in Spring.
      div Get a reminder
      a.btn Email sign up
