#events.nav-anchor
.section-header
  .container
    h4 Launch events

.container
  include:markdown ../../markdown/events.md

.container
  .events
    .event-container
      a(href='#')
        img(src=`${env.virtualRoot}_images/raleigh.jpg`)
        div March 25th, 2017
        div Raleigh, NC
    .event-container
      a(href='#')
        img(src=`${env.virtualRoot}_images/colorado.jpg`)
        div April 8th, 2017
        div Boulder, CO
    .event-container
      a(href='#')
        img(src=`${env.virtualRoot}_images/oakland.jpg`)
        div April 15th, 2017
        div Oakland, CA
    .event-container
      a(href='#')
        img(src=`${env.virtualRoot}_images/newyork.jpg`)
        div April 22nd, 2017
        div New York, NY
