#events.nav-anchor.nav-offset
.section-header
  .container
    h4 Launch events

.container
  include:markdown ../../markdown/events.md
  .events
    .event-container
      a(href='#')
        img(src=`${env.virtualRoot}_images/raleigh.jpg`)
        div
          span March 25th, 2017
        div
          span Raleigh, NC
    .event-container
      a(href='#')
        img(src=`${env.virtualRoot}_images/oakland.jpg`)
        div
          span April 8th, 2017
        div
          span Oakland, CA
    .event-container
      a(href='#')
        img(src=`${env.virtualRoot}_images/colorado.jpg`)
        div
          span April 15th, 2017
        div
          span Boulder, CO
    .event-container
      a(href='#')
        img(src=`${env.virtualRoot}_images/newyork.jpg`)
        div
          span April 22nd, 2017
        div
          span New York, NY
