header.page-header
  .header-content.container.text-center
    img(src=`${env.virtualRoot}_images/logo-nsf.svg`)
    h1 Wireless Innovation for a Networked Society Initiative
    p 
      span.powered-by powered by
      img(src=`${env.virtualRoot}_images/logo-mozilla.svg`)
    p The NSF Wireless Innovation for a Networked Society (NSF WINS) Initiative is a series of challenges, which seek projects that further innovation in community wireless networks.
    p Submissions open in Spring. Sign up for an #[a(href="#") email reminder].
    button.btn Find an event
