header.page-header
  .header-content.container.text-center
    img(src=`${env.virtualRoot}_images/logo-nsf.svg` height=`87` width=`90`)
    h1 Wireless Innovation for a Networked Society (WINS) Challenges
    p 
      span.powered-by powered by
      img(src=`${env.virtualRoot}_images/logo-mozilla.svg` width=`96` height=`31`)
    p How do you connect the unconnected? Mozilla and the National Science Foundation are looking for innovative wireless technologies that connect people to the Internet and to each other. A total of $2 million in prize money is available for wireless solutions that get people online after disasters or that connect communities lacking reliable Internet access.
    p Submissions will be accepted beginning June 15, 2017.
    a.btn(href="http://mzl.la/WINS_EMAIL") Sign Up for Updates
