header.page-header
  .header-content.container.text-center
    img(src=`${env.virtualRoot}_images/logo-nsf.svg` height=`87` width=`90`)
    h1 Wireless Innovation for a Networked Society Challenges
    p 
      span.powered-by powered by
      img(src=`${env.virtualRoot}_images/logo-mozilla.svg` width=`96` height=`31`)
    p The NSF Wireless Innovation for a Networked Society (NSF WINS) Challenges seek designs and prototypes that can further innovation in community wireless networks. A total of $2 million in prize money will be awarded for two challenges. We’re looking for the next great idea in community wireless networks. Is it yours?
    p Submissions will be accepted beginning June 15, 2017.
    a.btn(href="#events") Find an event
