.more-info
  .container
    .row.justify-content-center
      .col-lg-10
        .info-box
          header Submissions will be accepted beginning June 15, 2017.
          a.btn(href="http://mzl.la/WINS_EMAIL") Sign Up for Updates
