#Apply.nav-anchor.nav-offset
.more-info
  .container
    .row.justify-content-center
      .col-lg-10
        .info-box
          header #[a(href="https://assets.mofoprod.net/nsf/NSFWINSapplicationguide.pdf" class="secondary") Download the application guide] and begin your application now.
          a.btn(href="https://goo.gl/forms/19P9QlkLZ93NzgG13") Intent to Apply Form
